# Python con uv
# Directorio de entorno virtual
.venv

# Archivos de caché de Python
__pycache__/
*.pyc

# Logs
*.log

# Archivos de configuración y bases de datos locales
*.env
.env.local
.db
*.sqlite3

# Proyectos de Astro
# Dependencias de Node
node_modules/
.npm/
.pnpm-store/
.yarn/

# Archivos de compilación de Astro
dist/
.astro/

# Archivos temporales
.DS_Store
.vscode/

# Archivos de depuración y logs de Astro
.astro/cache/
.astro/db/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

scraper/data.json
scraper/logs