---
import "../styles/global.css";
import Table from '../components/Table';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Scrape</title>
  </head>
  <body>
    <Table client:load />
  </body>
</html>
